{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main-content">
    <h4>Register Account</h4>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
        <label>Confirm Password</label>
        <input type="password" name="confirm" class="form-control" required>
        <label>Tingkat Akses</label>
        <select id="dropdownAkses" name="dropdownAkses">
            <option value="Manager">Manager</option>
            <option value="Kepala Gudang">Kepala Gudang</option>
            <option value="Bendahara">Bendahara</option>
            <option value="Staf Pembelian">Staf Pembelian</option>
        </select>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}