{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <div class="head-name">
        <p>RESTOSEHAT</p>
    </div>

    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stok">Stok</a></li>
            <li><a href="/pengiriman">Pengiriman</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/cabang">Cabang</a></li>
            <li><a href="/bahan">Bahan</a></li>
            <li><a href="/riwayat">Riwayat</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="head-content">
            <p>Tambah Bahan</p>
        </div>

        <div class="main-content">
            <form action="/tambah_bahan", method="POST">
                <input type="text" name="namaBahan" id="namaBahan">
                <input type="text" name="satuan" id="satuan">
                <input type="text" name="hargaPerSatuan" id="hargaPerSatuan">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}