{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <div class="head-content">
        <p>Update Stok</p>
    </div>
    <div class="main-content">
        <form method="POST">
            <label for="namaBahan">Nama Bahan:</label>
            <input type="text" name="namaBahan" value="{{ bahan.namaBahan }}" required>

            <label for="satuan">Satuan:</label>
            <input type="text" name="satuan" value="{{ bahan.satuan }}" required>

            <label for="hargaPerSatuan">Harga Per Satuan:</label>
            <input type="number" name="hargaPerSatuan" value="{{ bahan.hargaPerSatuan }}" required>

            <input type="submit" value="Update Bahan">
        </form>
    </div>
</div>  
{% endblock %}