{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="main-content">
    <h4>Register Account</h4>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value="{{user.username}}" required>
        <label>Tingkat Akses</label>
        <select id="dropdownAkses" name="dropdownAkses">
            <option value="Manager" {% if user.role == "Manager" %}selected{% endif %}>Manager</option>
            <option value="Kepala Gudang" {% if user.role == "Kepala Gudang" %}selected{% endif %}>Kepala Gudang</option>
            <option value="Bendahara" {% if user.role == "Bendahara" %}selected{% endif %}>Bendahara</option>
            <option value="Staf Pembelian" {% if user.role == "Staf Pembelian" %}selected{% endif %}>Staf Pembelian</option>
        </select>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}